services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vulncycleinsight
    ports:
      - '25952:5173'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=5173
    stdin_open: true
    tty: true
